@charset "utf-8";
#output {
	background-color: #3FF;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
}
.error {
    font-size: x-large;
    text-transform: capitalize;
    color: #F00;
}
